<li>
  <p>
    <% if(locals.user && (locals.user.id == post.user.id)) {%>
    <!-- if user is signed-in and the signed-in user owns/created the post the post -->
    <!-- only then show the delete option -->
    <small>
      <a href="/posts/destroy/<%= post.id %>">X</a>
    </small>
    <% } %> <%= post.content %> <br />
    <small> <%= post.user.name %> </small>
  </p>
  <!-- Comments Container for each post -->
  <!-- A container for all the comments of a particular post -->
  <div class="post-comments">
    <!-- show the create-comment form only for a logged-in user -->
    <!-- show the comment submit form only to a signed-in user -->
    <% if(locals.user) { %>
    <!-- show the create-comment form only if user is logged-in -->
    <form action="/comments/create" method="POST">
      <input
        type="text"
        name="content"
        placeholder="Add Comments ...."
        required
      />
      <input type="hidden" name="post" value="<%= post._id %>" />
      <!-- with each new comment we are sending post.id as a hidden value in post variable -->
      <!-- here we are passing post.id as a hidden value with the content of the comment -->
      <input type="submit" value="Add Comment" />
    </form>
    <% } %>
    <!-- container to display comments for each post -->
    <div class="post-comments-list">
      <!-- every ul has id of post for which comments are craeted  -->
      <ul id="post_comments_<%= post._id %>">
        <% for(comment of post.comments) { %>
            <!-- here comment contains the populated user, comment not just the userId and commentId-->
            <%- include('comments'); -%>
            <!-- here we have relative path, since we are already in partials folder, so we do only comments not partials/comments -->
        <% } %>
      </ul>
    </div>
    <!-- post-comments-list class div closed -->
  </div>
  <!-- post-comments div closed -->
</li>
